<div class="row">
  <div class="col-sm-12 text-center">
    <%= link_to "New Post", new_post_path %> |
    <%= link_to "New Photo" %>
  </div>
</div>
<hr>
<% @posts.each do |post| %>
<div class="card">
    <h5 class="card-header"><%= link_to post.title, post_path(post.id)%></h5>
    <div class="card-body">
      <%= raw post.body %>
      <footer class="blockquote-footer">User <%= post.user.email %> add post at <%= post.created_at %></footer>
    </div>
</div>
<% end %>
<div class="row">
  <div class="col-sm-12 text-center">
    <%= will_paginate @posts, :container => false %>
  </div>
</div>


